@import 'tailwindcss';
@import 'tw-animate-css';

/* Gradient underline for nav links */
.nav-link {
  position: relative;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: -2px;
  bottom: 0;
  height: 2px; /* thickness of border */
  width: 0%;
  background: linear-gradient(to right, #c16efd, white);
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
